<nav class="navbar navbar-expand-lg p-4 navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="logoicon">LOGO ICON</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
        <li class="nav-item" routerLinkActive="active" appShowClass [routerLinkActiveOptions]="{exact:true}">
          <a class="nav-link " aria-current="page" routerLink="home">Dashbord</a>
        </li>
        <li class="nav-item dropdown newone"  routerLinkActive="active"   [routerLinkActiveOptions]="{exact:true}" >
          <a
            class="nav-link dropdown-toggle show"
            appDropdown
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            user
          </a>
          <ul   class="dropdown-menu" >
            <li appShowClass><a class="dropdown-item" routerLinkActive="active"  routerLink="/table">User Table</a></li>
            <li appShowClass><a class="dropdown-item" routerLinkActive="active" routerLink="/card">Create User</a></li>
          </ul>
        </li>
        <li class="nav-item" routerLinkActive="active" appShowhide [routerLinkActiveOptions]="{exact:true}">
          <a class="nav-link" routerLink="chart">chart</a>
        </li>
        <li>
        <button class="btn btn-outline-info" (click)="LogOut()"   mat-raised-button type="button" >Log out</button>
        </li>
        <li class="nav-item mr-5" routerLinkActive="active"  [routerLinkActiveOptions]="{exact:true}">
          <a class="nav-link" tabindex="-1" aria-disabled="true"><i class="fa-solid fa-vector-square"></i></a>
        </li>
      </ul>
    </div>
  </div>
</nav>

            <!--
        <button class="btn btn-outline-info" type="button" (click)="LogOut()">Log out</button>

              [property]="'show'" -->
