<!--############################## OverView Section #######################-->
<section class="overview">
  <h1>User Overview</h1>
  <div class="row">
      <div class="col-md-4" *ngFor="let item of cardArray">
          <div class="cardn">
              <div class="row mb-30">
                  <div class="col-4 offset-1">
                      <h1 class="mt-2">{{item.headingName}}</h1>
                  </div>
                  <div class="col-3 offset-1">
                      <div class="minbox">
                          <h1>{{item.percent}}</h1>
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-10">
                      <ul class="proghe">
                          <li>in Progress</li>
                          <li class="list">32%</li>
                      </ul>
                  </div>
              </div>
              <div class="row">
                  <div class="col-10">
                      <div class="progress">
                          <div class="progress-bar" role="progressbar"  aria-valuenow="32"
                              aria-valuemin="0" aria-valuemax="100"><i class="fa-solid text-white fa-circle"
                                  ></i>
                          </div>
                      </div>
                  </div>
              </div>

          </div>
      </div>

  </div>
</section>


<!--############################## Loan Section ############################-->
<section class="loan">
  <h1>Loan</h1>

  <div class="loan-container">
      <div class="row ">
          <div class="col-md-4  col-sm-12 loan-border">
              <img src="../../../../assets/images/Vector (1).png" alt="">
              <div class="loan-icon text-center text-white">
                  <img src="../../../../assets/images/coin.png" alt="">
                  <p>SME Loans </p>
              </div>
          </div>
          <div class="col-md-4 col-sm-12 loan-border">
              <div class="loan-icon text-center text-white">
                  <img src="../../../../assets/images/receipt-minus.png" alt="">
                  <p>Local purchase order</p>
                  <button mat-raised-button>Apply</button>
              </div>

          </div>
          <div class="col-md-4 col-sm-12 loan-border1">
              <img class="loan-img" src="../../../../assets/images/Vector.png" alt="">
              <div class="loan-icon text-center text-white">
                  <img src="../../../../assets/images/archive-book.png" alt="">
                  <p>Invoices</p>
              </div>
          </div>
      </div>

  </div>


</section>



<!--############################## Loreum Section #########################-->
<section class="loreum">
  <div class="row">
      <div class="col-2">
          <img src="../../../../assets/images/Frame 1171275381.jpg" alt="">
      </div>
      <div class="col-10">
          <div class="ml-4 ">
              <h1>Lorem ipsum dolor </h1>
              <p class="para">Lorem ipsum dolor sit amet consectetur. Dictumst quis in dui fringilla id cras montes
                  laoreet eget.
                  Tristique justo cursus tortor arcu. Aliquam vivamus tempus nam in phasellus tristique eleifend.
                  Morbi lobortis mattis et sit lectus placerat quisque. Urna viverra sagittis at mauris. At at risus
                  amet consectetur eu aliquam. Et nulla ut.</p>
          </div>
      </div>
  </div>
  <div class="row mb-4 d-flex flex-row-reverse mr-3">
      <div class="col-2">
          <img src="../../../../assets/images/Frame 1171275381.jpg" alt="">
      </div>
      <div class="col-10">
          <div >
              <h1>Lorem ipsum dolor </h1>
              <p class="para">Lorem ipsum dolor sit amet consectetur. Dictumst quis in dui fringilla id cras montes
                  laoreet eget.
                  Tristique justo cursus tortor arcu. Aliquam vivamus tempus nam in phasellus tristique eleifend.
                  Morbi lobortis mattis et sit lectus placerat quisque. Urna viverra sagittis at mauris. At at risus
                  amet consectetur eu aliquam. Et nulla ut.</p>
          </div>
      </div>
  </div>
  <div class="row">
      <div class="col-md-3">
          <div class="img1">
              <img class="imgn" src="../../../../assets/images/Frame 1171275381.jpg" alt="">
          </div>
          <div class="text text-white">
              <h4>Lorem ipsum dolor </h4>
              <p>Lorem ipsum dolor sit amet consectetur</p>
          </div>
      </div>
      <div class="col-md-3">
          <div class="img1">
              <img class="imgn" src="../../../../assets/images/Frame 1171275381.jpg" alt="">
          </div>
          <div class="text text-white">
              <h4>Lorem ipsum dolor </h4>
              <p>Lorem ipsum dolor sit amet consectetur</p>
          </div>
      </div>
      <div class="col-md-3">
          <div class="img1">
              <img class="imgn" src="../../../../assets/images/Frame 1171275381.jpg" alt="">
          </div>
          <div class="text text-white">
              <h4>Lorem ipsum dolor </h4>
              <p>Lorem ipsum dolor sit amet consectetur</p>
          </div>
      </div>
      <div class="col-md-3">
          <div class="img1">
              <img class="imgn" src="../../../../assets/images/Frame 1171275381.jpg" alt="">
          </div>
          <div class="text text-white">
              <h4>Lorem ipsum dolor </h4>
              <p>Lorem ipsum dolor sit amet consectetur</p>
          </div>
      </div>
  </div>
</section>
<br>
<br>
