table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}

.mat-form-field{
  width: 250px;
}
.mat-header-cell{
  background-color: #AAA3FF;
  color: #292d32;
  font-size: 15.54px;
  line-height: 18.08px;
}
.mat-icon{
  font-size: 30px;
}
